<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container mt-4">
    <h1>USERS LIST</h1>
    <a href="/" class="btn btn-primary mb-3">Go to home page</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
                <th>BAN</th>
            </tr>
        </thead>
        <tbody>

            {{range .}}
            {{if eq .Username "admin"}}
                {{continue}}
            {{end}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Username}}</td>
                <td>{{.Email}}</td>
                <td>{{.Role}}</td>
                <td>
                    {{if eq .Role "banned"}}
                        <p>USER BANNED, UNBAN TO GIVE A ROLE</p>
                        {{else}}
                    {{if eq .Role "teacher"}}
                        <form action="/admin/demote" method="post">
                            <input type="hidden" name="id" value="{{.ID}}">
                            <button type="submit" class="btn btn-warning">Demote to student</button>
                        </form>
                    {{else}}
                        <form action="/admin/promote" method="post">
                            <input type="hidden" name="id" value="{{.ID}}">
                            <button type="submit" class="btn btn-success">Promote to teacher</button>
                        </form>
                    {{end}}
                    {{end}}
                </td>
                <td>
                    {{if eq .Role "banned"}}
                        <form action="/admin/unban" method="post">
                            <input type="hidden" name="id" value="{{.ID}}">
                            <button type="submit" class="btn btn-success">UNBAN</button>
                        </form>
                    {{else}}
                    <form action="/admin/ban" method="post">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <button type="submit" class="btn btn-danger">BAN</button>
                    </form>
                    {{end}}
                </td>
            </tr>

            {{end}}
        </tbody>
    </table>

    <!-- Add Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
