<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <title>Contacts</title>
</head>
<body>
    <nav class = "navbar">
        <a href="/">Home</a>
    </nav>

    <div class="social-links">
        <a href="www.linkedin.com/in/yerlan-kuanysh-3b0925278" target="_blank">LinkedIn</a>
        <a href="https://www.github.com/hrz10p" target="_blank">GitHub</a>
        <a href="https://www.telegram.org/yerlal" target="_blank">Telegram</a>
    </div>

    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa381869717905c970b81df680a856d52bc59abb825a511d1dede588e29166c6b&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
</body>
</html>